In [1]:
import pandas as pd

In [2]:
city_daydata = pd.read_csv(r"D:\s\AQI(2015-2020)\city_day.csv")
city_daydata = city_daydata.dropna()
city_daydata.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
2123,Amaravati,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate
2124,Amaravati,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate
2125,Amaravati,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate
2126,Amaravati,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate
2127,Amaravati,2017-11-29,72.47,114.84,5.23,23.20,16.59,12.25,0.16,10.55,109.74,0.21,4.71,0.08,173.0,Moderate

In [3]:
city_daydata.isnull().sum()

City          0
Date          0
PM2.5         0
PM10          0
NO            0
NO2           0
NOx           0
NH3           0
CO            0
SO2           0
O3            0
Benzene       0
Toluene       0
Xylene        0
AQI           0
AQI_Bucket    0
dtype: int64

In [4]:
city_hourdata = pd.read_csv(r"D:\s\AQI(2015-2020)\city_hour.csv")
city_hourdata = city_hourdata.dropna()
city_hourdata.Datetime = city_hourdata.Datetime.apply(pd.to_datetime)
city_hourdata['Date'] = [d.date() for d in city_hourdata['Datetime']]
city_hourdata['Time'] = [d.time() for d in city_hourdata['Datetime']]
city_hourdata = city_hourdata.drop('Datetime', axis=1)
city_hourdata.head()

,City,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Date,Time
50888,Amaravati,104.00,148.50,1.93,23.00,13.75,9.80,0.1,15.30,117.62,0.30,10.40,0.23,155.0,Moderate,2017-11-25,09:00:00
50889,Amaravati,94.50,142.00,1.33,16.25,9.75,9.65,0.1,17.00,136.23,0.28,7.10,0.15,159.0,Moderate,2017-11-25,10:00:00
50890,Amaravati,82.75,126.50,1.47,14.83,9.07,9.70,0.1,15.40,149.92,0.20,4.55,0.08,173.0,Moderate,2017-11-25,11:00:00
50893,Amaravati,68.50,117.00,1.35,13.60,8.35,7.40,0.1,21.80,161.70,0.10,2.30,0.00,191.0,Moderate,2017-11-25,14:00:00
50894,Amaravati,69.25,112.25,1.52,11.80,7.55,9.25,0.1,21.38,161.68,0.10,2.35,0.00,191.0,Moderate,2017-11-25,15:00:00

In [5]:
city_hourdata['City'].unique()

array(['Amaravati', 'Amritsar', 'Chandigarh', 'Delhi', 'Gurugram',
       'Hyderabad', 'Kolkata', 'Patna', 'Visakhapatnam'], dtype=object)

In [6]:
city_hourdata.isnull().sum()

City          0
PM2.5         0
PM10          0
NO            0
NO2           0
NOx           0
NH3           0
CO            0
SO2           0
O3            0
Benzene       0
Toluene       0
Xylene        0
AQI           0
AQI_Bucket    0
Date          0
Time          0
dtype: int64

In [7]:
station_daydata = pd.read_csv(r"D:\s\AQI(2015-2020)\station_day.csv")
station_daydata = station_daydata.dropna()
station_daydata.head()

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
1,AP001,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate
2,AP001,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate
3,AP001,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate
4,AP001,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate
5,AP001,2017-11-29,72.47,114.84,5.23,23.20,16.59,12.25,0.16,10.55,109.74,0.21,4.71,0.08,173.0,Moderate

In [8]:
station_daydata.isnull().sum()

StationId     0
Date          0
PM2.5         0
PM10          0
NO            0
NO2           0
NOx           0
NH3           0
CO            0
SO2           0
O3            0
Benzene       0
Toluene       0
Xylene        0
AQI           0
AQI_Bucket    0
dtype: int64

In [9]:
station_hourdata = pd.read_csv(r"D:\s\AQI(2015-2020)\station_hour.csv")
station_hourdata = station_hourdata.dropna()
station_hourdata.Datetime = station_hourdata.Datetime.apply(pd.to_datetime)
station_hourdata['Date'] = [d.date() for d in station_hourdata['Datetime']]
station_hourdata['Time'] = [d.time() for d in station_hourdata['Datetime']]
station_hourdata = station_hourdata.drop('Datetime', axis=1)
station_hourdata.head()

C:\Users\robot\AppData\Local\Temp\ipykernel_13432\3556906510.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  station_hourdata = pd.read_csv(r"D:\s\AQI(2015-2020)\station_hour.csv")

,StationId,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Date,Time
16,AP001,104.00,148.50,1.93,23.00,13.75,9.80,0.1,15.30,117.62,0.30,10.40,0.23,155.0,Moderate,2017-11-25,09:00:00
17,AP001,94.50,142.00,1.33,16.25,9.75,9.65,0.1,17.00,136.23,0.28,7.10,0.15,159.0,Moderate,2017-11-25,10:00:00
18,AP001,82.75,126.50,1.47,14.83,9.07,9.70,0.1,15.40,149.92,0.20,4.55,0.08,173.0,Moderate,2017-11-25,11:00:00
21,AP001,68.50,117.00,1.35,13.60,8.35,7.40,0.1,21.80,161.70,0.10,2.30,0.00,191.0,Moderate,2017-11-25,14:00:00
22,AP001,69.25,112.25,1.52,11.80,7.55,9.25,0.1,21.38,161.68,0.10,2.35,0.00,191.0,Moderate,2017-11-25,15:00:00

In [10]:
station_hourdata.isnull().sum()

StationId     0
PM2.5         0
PM10          0
NO            0
NO2           0
NOx           0
NH3           0
CO            0
SO2           0
O3            0
Benzene       0
Toluene       0
Xylene        0
AQI           0
AQI_Bucket    0
Date          0
Time          0
dtype: int64

In [11]:
stations_data = pd.read_csv(r"D:\s\AQI(2015-2020)\stations.csv")
stations_data = stations_data.drop('Status', axis=1)
stations_data = stations_data.drop('StationName', axis=1)
stations_data.head()

  StationId               City           State
0     AP001          Amaravati  Andhra Pradesh
1     AP002  Rajamahendravaram  Andhra Pradesh
2     AP003           Tirupati  Andhra Pradesh
3     AP004         Vijayawada  Andhra Pradesh
4     AP005      Visakhapatnam  Andhra Pradesh

In [12]:
stations_data.isnull().sum()

StationId    0
City         0
State        0
dtype: int64

In [13]:
print(f'The length of stations data: {len(stations_data)}')
print(f'The length of station hour data: {len(station_hourdata)}')
print(f'The length of station day data: {len(station_daydata)}')
print(f'The length of city hour data: {len(city_hourdata)}')
print(f'The length of city day data: {len(city_daydata)}')

The length of stations data: 230
The length of station hour data: 203693
The length of station day data: 10314
The length of city hour data: 129277
The length of city day data: 6236

In [19]:
updatedstationshour_data = pd.merge(stations_data, station_hourdata, on='StationId', how='outer')
updatedstationshour_data = updatedstationshour_data.dropna()
updatedstationshour_data = updatedstationshour_data[sorted(updatedstationshour_data)]
updatedstationshour_data.to_csv("updatedstationshour.csv",index = False)
updatedstationshour_data.head()

,AQI,AQI_Bucket,Benzene,CO,City,Date,NH3,NO,NO2,NOx,O3,PM10,PM2.5,SO2,State,StationId,Time,Toluene,Xylene
0,155.0,Moderate,0.30,0.1,Amaravati,2017-11-25,9.80,1.93,23.00,13.75,117.62,148.50,104.00,15.30,Andhra Pradesh,AP001,09:00:00,10.40,0.23
1,159.0,Moderate,0.28,0.1,Amaravati,2017-11-25,9.65,1.33,16.25,9.75,136.23,142.00,94.50,17.00,Andhra Pradesh,AP001,10:00:00,7.10,0.15
2,173.0,Moderate,0.20,0.1,Amaravati,2017-11-25,9.70,1.47,14.83,9.07,149.92,126.50,82.75,15.40,Andhra Pradesh,AP001,11:00:00,4.55,0.08
3,191.0,Moderate,0.10,0.1,Amaravati,2017-11-25,7.40,1.35,13.60,8.35,161.70,117.00,68.50,21.80,Andhra Pradesh,AP001,14:00:00,2.30,0.00
4,191.0,Moderate,0.10,0.1,Amaravati,2017-11-25,9.25,1.52,11.80,7.55,161.68,112.25,69.25,21.38,Andhra Pradesh,AP001,15:00:00,2.35,0.00

In [15]:
print(f'The length of updated station hour data: {len(updatedstationshour_data)}')

The length of updated station hour data: 203693

In [16]:
updatedstationsday_data = pd.merge(station_daydata, stations_data, on='StationId', how='outer')
updatedstationsday_data = updatedstationsday_data.dropna()
updatedstationsday_data = updatedstationsday_data[sorted(updatedstationsday_data)]

updatedstationsday_data.head()

,AQI,AQI_Bucket,Benzene,CO,City,Date,NH3,NO,NO2,NOx,O3,PM10,PM2.5,SO2,State,StationId,Toluene,Xylene
0,184.0,Moderate,0.20,0.12,Amaravati,2017-11-25,10.72,1.44,20.50,12.08,127.09,124.50,81.40,15.24,Andhra Pradesh,AP001,6.50,0.06
1,197.0,Moderate,0.22,0.14,Amaravati,2017-11-26,10.28,1.26,26.00,14.85,117.44,129.06,78.32,26.96,Andhra Pradesh,AP001,7.95,0.08
2,198.0,Moderate,0.29,0.11,Amaravati,2017-11-27,12.91,6.60,30.85,21.77,111.81,135.32,88.76,33.59,Andhra Pradesh,AP001,7.63,0.12
3,188.0,Moderate,0.17,0.09,Amaravati,2017-11-28,11.42,2.56,28.07,17.01,138.18,104.09,64.18,19.00,Andhra Pradesh,AP001,5.02,0.07
4,173.0,Moderate,0.21,0.16,Amaravati,2017-11-29,12.25,5.23,23.20,16.59,109.74,114.84,72.47,10.55,Andhra Pradesh,AP001,4.71,0.08

In [17]:
print(f'The length of updated station hour data: {len(updatedstationsday_data)}')

The length of updated station hour data: 10314

In [ ]:
# X = updatedstationshour_data.drop('AQI_Bucket',axis=1)
# y = updatedstationshour_data['AQI_Bucket']

In [ ]:
X

In [ ]:
y

In [ ]:
y.unique()